<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>  
           <% if(cartProducts.length > 0) { %>
                <ul>
                    <% cartProducts.forEach(product => { %>
                        <li>
                            <p><%= product.productId.title %></p>
                            <p><%= product.quantity %></p>
                            <p><%= product.productId.price %></p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= product.productId._id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>                                
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <form action="/orders" method="POST">
                    <button type="submit" class="btn">Order Now !</button>
                </form>
            <%} else {%>
                <h1>No Products In A Cart ....</h1>
            <% } %>
    </main> 